<div class="wrapper">
    <app-superior></app-superior>
    <app-menu></app-menu>
    <!-- --------------contenido -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">USUARIOS</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['/principal']">Inicio</a></li>
                            <li class="breadcrumb-item active">Usuarios</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- contenido de categorias -->
                <!-- ------------------BOTONES---------------------- -->
                <div class="row">
                    <!-- <div class="col-lg-1"></div> -->
                    <div class="col-lg-2">
                        <input type="button" name="boton" id="boton" value="AGREGAR USUARIO" class="btn btn-sm btn-block" data-toggle="modal" data-target="#ausuario">
                    </div>
                    <div class="col-lg-10"></div>
                </div>
                <br>

                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Perfil</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of usuario">

                            <td>{{item.nombre}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.perfil}}</td>
                            <td>{{item.estado}}</td>
                            <td>
                                <img src="assets/img/editar.png" width="20" title="Editar" data-toggle="modal" data-target="#edusuario" style="cursor: pointer;" (click)="editaruser(item)">

                                <img src="assets/img/borrar.png" (click)="borrarRegistro(item.id)" style="cursor: pointer;" width="20" title="Borrar" alt="">
                            </td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>
<!-- -----------------------Modal Insertar Categoría -->
<div class="modal fade" id="ausuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR USUARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ------------formulario -->
                <div class="row">
                    <div class="col-lg-12">

                        <form [formGroup]='userForm' (ngSubmit)="registraruser(userForm.value)">
                            <input type="text" class="form-control" formControlName='nombre' placeholder="Nombre" [class.is-invalid]="nombreNoValido">
                            <small class="text-danger" *ngIf="nombreNoValido">Ingrese el nombre del usuario</small>
                            <br>
                            <input type="password" class="form-control" formControlName='clave' placeholder="Contraseña" [class.is-invalid]="passwordNoValido">
                            <small class="text-danger" *ngIf="passwordNoValido">Ingrese una clave de mínimo 8 caracteres</small>
                            <br>
                            <input type="email" class="form-control" formControlName='email' placeholder="Email" [class.is-invalid]="emailNoValido">
                            <small class="text-danger" *ngIf="emailNoValido">Ingrese un email válido</small>
                            <br>
                            <select class="form-control" formControlName='perfil' [class.is-invalid]="perfilNoValido">
                                <option value="Administrador" label="Administrador">Administrador</option>
                                <option value="Especial" label="Especial">Especial</option>
                                <option value="Invitado" label="Invitado">Invitado</option>
                            </select>
                            <small class="text-danger" *ngIf="perfilNoValido">Seleccione el perfil del usuario</small>
                            <br>
                            <select class="form-control" formControlName='estado' [class.is-invalid]="estadoNoValido">
                                <option value="Activo" label="Activo">Activo</option>
                                <option value="No Activo" label="No Activo">No Activo</option>                                
                            </select>
                            <small class="text-danger" *ngIf="estadoNoValido">Seleccione el estado del usuario</small>
                            <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                            <input type="submit" name="boton" value="GUARDAR" class="btn ml-2" id="boton">

                        </form>

                    </div>
                </div>
                <!-- ------------formulario -->
            </div>
            <div class="modal-footer" style="background-color: #dfdfdf;">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                <button type="button" id="boton" name="boton" onclick="" class="btn btn-primary">
                	GUARDAR
                </button> -->
            </div>
        </div>
    </div>
</div>

<!-- -----------------------Modal Editar Categoría -->
<div class="modal fade" id="edusuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDITAR USUARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ------------formulario -->
                <div class="row">
                    <div class="col-lg-12">

                        <form [formGroup]='eduserForm' (ngSubmit)="editar(eduserForm.value)">
                            <input type="text" class="form-control" formControlName='nombre' placeholder="Nombre" [class.is-invalid]="ednombreNoValido">
                            <small class="text-danger" *ngIf="ednombreNoValido">Ingrese el nombre del usuario</small>
                            <br>

                            <select class="form-control" formControlName='perfil' [class.is-invalid]="edperfilNoValido">
                                <option value="Administrador" label="Administrador">Administrador</option>
                                <option value="Especial" label="Especial">Especial</option>
                                <option value="Invitado" label="Invitado">Invitado</option>
                            </select>
                            <small class="text-danger" *ngIf="edperfilNoValido">Seleccione el perfil</small>
                            <br>

                            <select class="form-control" formControlName='estado' [class.is-invalid]="edestadoNoValido">
                                <option value="Activo" label="Activo">Activo</option>
                                <option value="No Activo" label="No Activo">No Activo</option>                                
                            </select>
                            <small class="text-danger" *ngIf="edestadoNoValido">Seleccione el estado</small>
                            <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                            <input type="submit" name="boton" value="GUARDAR" class="btn ml-2" id="boton">

                        </form>

                    </div>
                </div>
                <!-- ------------formulario -->
            </div>
            <div class="modal-footer" style="background-color: #dfdfdf;">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                <button type="button" id="boton" name="boton" onclick="" class="btn btn-primary">
                	GUARDAR
                </button> -->
            </div>
        </div>
    </div>
</div>