<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/principal']" class="brand-link">
        <img src="assets/img/logo.png" width="90%" alt="">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-header">MENU PRINCIPAL</li>
                <li class="nav-item">
                    <a [routerLink]="['/usuario']"  class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/cate']" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Categorías</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/producto']" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Productos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/cliente']"  class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Clientes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/proveedor']" class="nav-link">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>Proveedores</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/caja']" class="nav-link">
                        <i class="nav-icon fas fa-cash-register"></i>
                        <p>Caja</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/venta']" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Administrar Ventas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/compra']"  class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Administrar Compras</p>
                    </a>
                </li>

                <!-- <li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon ion ion-pie-graph"></i>
                        <p>
                            Ventas
                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/venta']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Administrar Ventas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/rventa']"  class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Reporte de Ventas</p>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <!-- <li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Compras
                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/compra']"  class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Administrar Compras</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/rcompra']"  class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Reporte de Compras</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/ayuda']"  class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Ayuda</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/acerca']"  class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>Acerca de</p>
                    </a>
                </li> -->


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>